/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// GOOGLE FONTS
// ------------

@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

// FONTS
// -----

$font--bree       : "Bree Serif", serif;
$font--montserrat : "Montserrat", sans-serif;


 body{
     margin: 0 !important;
     padding: 0;
     font-size: 62.5%;
     font-family: $font--montserrat !important;
     font-weight: 400;
 }

 .MuiTypography-root,.MuiButton-root,.MuiInputLabel-root,.MuiInputBase-input{
     font-family: $font--montserrat !important;
     font-weight: 400;
 }
.userIcon{
    display: flex;
}

.userIcon > p{
    line-height: 48px;
}

.home_container{
    margin-top:24px;
}

th{
    font-weight: 800 !important;
}

.date-click {
    cursor: pointer;
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

.selected-day {
    max-width: 500px;
    margin: 0 auto;
    padding: 18px;
    text-align: center;
}

.selected_date{
    /* background-color: #2EACBA;
    width: 297px;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 20px !important;
    color: #fff; */
    font-size: 22px;
    font-weight: 500;
}

.time_stack{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 0px;
}

.form_title{
    padding: 8px 0px;
    font-size: 20px !important;
}

.submit_btn{
    background: rgb(46, 172, 186) !important;
  }

  .MuiAlert-message{
      text-align: left !important
  }